<!-- <a class="linkFont" routerLink="/calculadora" >Calculadora</a> -->
<div class="table-size m-5">

<div class="row g-3 mb-5">
  <div class="col">
    <mat-form-field class="example-full-width" appearance="outline" >
      <mat-label>Nome do professor</mat-label>
      <input matInput [(ngModel)]="formProfessor.nome">
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field appearance="outline">
      <mat-label>Tempo de regência</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [(ngModel)]="formProfessor.dataInicial" placeholder="Start date" placeholder="dd/MM/aaaa">
        <input matEndDate [(ngModel)]="formProfessor.dataFinal" placeholder="End date" placeholder="dd/MM/aaaa">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field class="example-full-width" appearance="outline" >
      <mat-label>Licenças</mat-label>
      <input matInput [(ngModel)]="formProfessor.quantidadeLicenca">
    </mat-form-field>
  </div>
</div>

  <h5>Tabela de Títulos</h5>
  <table mat-table [dataSource]="pontuacoes" class="mat-elevation-z8">
  
     <!-- Checkbox Column -->
     <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    @for (column of displayedColumns; track column) {
      <ng-container [matColumnDef]="column.coluna">
        <th mat-header-cell *matHeaderCellDef> {{column.titulo}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column.coluna]}} </td>
      </ng-container>
    }
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <div class="row g-3 m-5">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="getCalculation()">Calcular</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger" (click)="cleanForm()">Limpar</button>
    </div>
    <div class="col">
      <h5>Soma Final: {{somaFinal}}</h5>
    </div>
  </div>

  </div>
  

<router-outlet />
